<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/adm.css">
</head>
<body>
    <header>
        <h1>Blog后台管理界面</h1>
    </header>
    <div id="main">
        <?php include(ROOT.'/view/admin/lside.html');?>
        <div id="rside">
            <table>
                <tr>
                    <td>序号</td>
                    <td>日期</td>
                    <td>标题</td>
                    <td>栏目</td>
                    <td>回复</td>
                    <td>状态</td>
                </tr>
                <?php foreach($art as $v){ ?>
                <tr>
                    <td><?php echo $v['art_id']; ?></td>
                    <td><?php echo date('Y/m/d',$v['pubtime']); ?></td>
                    <td><a href="#"><?php echo $v['title']; ?></a></td>
                    <td><?php echo $v['catname']; ?></td>
                    <td><span class="badge"><?php echo $v['comm']; ?></span></td>
                    <td>
                        <a href="artedit.php?art_id=<?php echo $v['art_id']; ?>">编辑</a>|
                        <a href="artdel.php?art_id=<?php echo $v['art_id']; ?>">删除</a>
                    </td>
                </tr>
                <?php } ?>
            </table>
        </div>
    </div>
</body>
</html>